.sendPostBtn {
    vertical-align: top;
}

.postField {
    width: 50%;
    height: 35px;
    border: 1px solid blueviolet;
    transition: all 0.15s;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.sendPostBtn {
    width: 150px;
    height: 40px;
    color: rgb(105, 8, 195);
    background: #c4c1e0;
    border: solid 1px rgb(161, 79, 239);
    border-radius: 20px;
    transition: all 0.15s;
    margin-bottom: 10px;
    font-size: 16px;
}

.sendPostBtn:hover {
    box-shadow: 5px 5px 10px rgb(55, 52, 52);
}

.postForm {
    margin-bottom: 20px;
}