.auth {
    font-size: 20px;
    color: white;
    padding: 5px;
}

.btnLogout {
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(161, 79, 239);
    border: none;
    border-radius: 4px;
    transition: all 0.15s;
}

.btnLogout:hover {
    box-shadow: 5px 5px 10px black;
}

@media only screen and (max-width: 435px) {
    .btnLogout {
        margin-bottom: 5px;
        width: 80px;
        height: 20px;
        background-color: rgb(112, 44, 177);
    }
}