.header {
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: var(--font-size-md);
    color: var(--light-color);
}

/* Fancy button animation effect */
.btn.fancy-border:hover::before {
    animation: animate_border .75s linear infinite
}

.sign-up-btn {
    padding: 4px;
}

#theme-toggle-btn {
    margin-right: 30px;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 20px;
    }

    i {
        font-size: 30px;
    }
}

@media only screen and (max-width: 462px) {

    .logo {
        font-size: 15px;
    }

    i {
        font-size: 20px;
    }
}