.userPhoto {
    width: 100px;
    border-radius: 4px;
}

.usersWrapper {
    padding: 10px 50px;
    background: #c4c1e0;
}

.users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.userWrapper {
    width: 400px;
    border: gray 1px solid;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    max-width: 400px;
    justify-content: flex-start;
}

p {
    color: rgb(59, 57, 57);
}

.userNameStatusWrapper {
    padding: 5px;
}

.followUnfollowBtn {
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(161, 79, 239);
    border: none;
    border-radius: 4px;
    transition: all 0.15s;
    margin-bottom: 10px;
}

.followUnfollowBtn:hover {
    box-shadow: 5px 5px 10px rgb(55, 52, 52);
}

@media only screen and (max-width: 600px) {

    .usersWrapper {
        padding: 10px 10px;

    }

}

@media only screen and (max-width: 435px) {

    .userName {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .userPhoto {
        width: 50px;
    }

    .userWrapper {
        display: block;
    }

    /* .users {
        margin-left: 20px;
        max-width: 200px;
        font-size: 16px;
    } */
}

@media only screen and (max-width: 534px) {

    .users {
        margin-left: 20px;
        max-width: 300px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 419px) {
    .users {

        max-width: 200px;
        font-size: 16px;

    }
}