.item {
    color: rgb(10, 10, 10);
    font-size: 20px;
    width: 90%;
    transition: all 100ms ease-in-out;
    padding: 0 12px;
    margin-bottom: 15px;
}

.navElementBlock {
    margin-bottom: 10px;
}

.item:hover {
    font-size: 21px;
    background: #ffe6eb;
    border-radius: 20px;
    color: blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.active {
    color: rgb(9, 52, 9);
    font-size: 24px;
}

a {
    text-decoration: none;
}