.item {
    color: rgb(10, 10, 10);
    font-size: 20px;
    width: 90%;
    transition: all 100ms ease-in-out;
    padding: 0 12px;
    margin-bottom: 15px;
    white-space: nowrap;
    padding: 5px;
}

.navElementBlock {
    margin-bottom: 10px;
}

.item:hover {

    white-space: nowrap;
    border-radius: 4px;
    color: black;
    background-color: #a8a3ca;
}


.active {
    color: rgb(9, 52, 9);
    font-weight: bold;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {


    .navTitle {
        display: none;

    }

    .active {
        color: rgb(9, 52, 9);
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
    }



}