.postWrapper {
    margin-bottom: 30px;
    color: #22313f;
}

.likesCount {
    font-size: 12px;
    color: #1d2786;
    margin-bottom: 8px;
}

.deletePostBtn {
    width: 60px;
    height: 20px;
    color: rgb(105, 8, 195);
    background: #c4c1e0;
    border: solid 1px rgb(161, 79, 239);
    border-radius: 20px;
    transition: all 0.15s;
    font-size: 12px;
}

.deletePostBtn:hover {
    box-shadow: 5px 5px 10px rgb(55, 52, 52);
}