.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-wrapper {
  margin-top: 100px;
  margin-left: 100px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.profile-edit-form-btn,
.follow-unfolow-btn,
.send-message-btn,
.dialog-input {
  border: 1px solid var(--light-color-alt);
  padding: 6px 10px;
  margin-top: 10px;
  transition: color .5s;
}

.profile-update-btn:hover,
.profile-edit-form-btn:hover,
.follow-unfolow-btn:hover,
.send-message-btn:hover,
.dialog-input:hover {
  color: var(--light-color);
  border-color: var(--light-color);
}

@media only screen and (max-width: 592px) {

  .container-wrapper {
    margin-left: 70px;
    padding-right: 20px;

  }

}

@media only screen and (max-width: 460px) {

  .container-wrapper {
    margin-top: 80px;

  }

}

@media only screen and (max-width: 430px) {

  .container-wrapper {
    margin-left: 30px;

  }

}