.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  max-width: 960px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  background-color: cornflowerblue;
}

.nav {
  grid-area: nav;
  background-color: plum;
}


.content {
  grid-area: content;
  background-color: green;
}

.header img {
  width: 20px;
}