.btnLogin,
.btnReset {
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    transition: all 0.15s;
    margin-left: 10px;
    margin-bottom: 3px;
}

.btnReset {
    border: 1px solid rgb(138, 44, 226);
    color: blueviolet;
    background-color: white;
}

.loginFormBtn {
    text-align: center;
    margin-bottom: 35px;
}

.btnLogin:hover,
.btnReset:hover {
    box-shadow: 5px 5px 10px gray;
}

.loginForm {
    border: 1px solid blueviolet;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    border-radius: 4px;
}

.loginFormTitle {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.loginFormField input {
    width: 90%;
    height: 35px;
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid blueviolet;
    transition: all 0.15s;
    border-radius: 4px;
    margin-bottom: 5px;
}

.checkbox {
    margin-left: 20px;
    margin-bottom: 30px;
}

.loginFormField input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}